---
import App from '../react/App';

export function getStaticPaths() {
  return [
    { params: { path: undefined } },  // Matches '/'
    { params: { path: 'second' } },   // Matches '/second'
    // Add other paths that should be handled by React
  ];
}

const { path } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My Astro + React App</title>
  </head>
  <body>
    <App client:load location={Astro.url.pathname} />
  </body>
</html>
