---
import App from '../react/App';
import { SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{SITE_DESCRIPTION}</title>
  </head>
  <body>
    <App client:load location={Astro.url.pathname} />
  </body>
</html>
